<section>
    <form class="form" ng-submit="signUp(user)">
        <input type="email" ng-model="user.email" placeholder="Email">
        <input type="password" ng-model="user.password" placeholder="Password">
        <input type="text" ng-model="user.username" placeholder="Username">
        <button class="SignInFacebook">Sign Up</button>
        <p><small>{{error}}</small></p>
        <p>Or login with Facebook</p>
    </form>
    <button class="SignInFacebook" ng-click="signUpWithFacebook('Facebook')">Sign in with Facebook</button>
</section>